#subtitle .wrap button{
  
  width: 180px;
}

main section .wrap ul.nav li:nth-child(2)::before{
  color: #00a0c6;
}
main section .wrap ul.nav li:nth-child(2) a{
  border-top-color:  #00a0c6;
}
.art h2{

}
.art .wwtimeline{
  border: 1px solid #ccc;
  position: relative;
}
.art .wtimeline{
  overflow: hidden;
  font-size: 12px;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.art .wtimeline::before{
  content: "";
  width: calc(100%);
  border-top:2px solid #ccc;
  position: absolute;
  top:30px;
}
.art .wtimeline .timeline{
  flex-wrap: nowrap;
  width: fit-content;
  position: relative;
  transition: all 1s;
  z-index: 6;
}
.art .timeline li{
  width: calc(1000px / 5);
}
.art .timeline li a{
  white-space: nowrap;
  line-height: 3;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.art .timeline li a::before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  display: block;
  line-height: 1;
  transform: translateY(5px);
  z-index: 3;
  transition: all 0.5s;
}
.art .timeline li a::before{
  content: "";
  transition: all 0.5s;
}
.currentT::before{
  background-color:#00a0c6 !important;
}
.currentT::after{
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: block;
  line-height: 1;
  transform: translateY(5px);
  position: absolute;
  top: -9px;
  left: calc(50% - 15px);
}
.art .control{
  position: absolute;
  width: 98%;
  height: 100%;
  left: 1%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-8px);
  z-index: 1;
}
.art .control button{
  
  background-color: transparent;
  border: none;
  font-size: 46px;
  transform: scaleY(1.9);
  color: #ccc;
}
.art .control button.prev{
  
}
.art .control button.next{
  
}
.art .timeline2{

}
.timelinegallery {
  
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 30px;
  position: relative;
  padding-bottom: 0;
}
.timelinegallery>*{
  width: calc(100% / 4 - 60px / 4);
}
/* .timelinegallery .wfigure{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.timelinegallery .wfigure img{
  
}
.timelinegallery .wfigure figcaption{
  
} */
.timelinegallery .intro {
  
  line-height: 1.5;
  position: relative;
}
.timelinegallery .intro h3{
  
}
.timelinegallery .intro h3:after{
  content: "";
  border: 1px solid #ccc;
  display: block;
  width: 20%;
  margin-bottom: 30px;
  transform: translateY(15px);
  margin-top: 10px;
}
.timeline3 .intro h3::after{
  content: "";
  border: 1px solid #ccc;
  display: block;
  width: 20%;
  margin-bottom: 30px;
  transform: translateY(15px);
  margin-top: 10px;
}
.timelinegallery .intro h3 span {
  
}
.timelinegallery .intro p{ 
  height: 83px;
  overflow: hidden;
  font-size: 14px;
}
.timelinegallery .intro p span {
  
}
.timelinegallery .intro .view{
  right: 0;
  top: 0;
  position: absolute;
}
.timelinegallery .tPopup{
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  padding: 40px;
  box-sizing: border-box;
}
.timeline3 .tPopup h3{
  
}
.timelinegallery .tPopup h3{
  
}
.timelinegallery .tPopup p{
  
  height: auto;
}
.timelinegallery .tPopup .wbutton{
  
  display: flex;
  justify-content: right;
  gap: 11px;
}
.timelinegallery .tPopup .close{
  
  order: 2;
  background-color: #169abd;
  width: 60px;
  color: white;
}
.timelinegallery .tPopup .pro{
  border: 1px solid #ccc;
  width: 60px;
}
.timelinegallery .tPopup button{
  
  background: none;
  border: none;
  height: 34px;
  cursor: pointer;
}
#wart .propopup{
  position: fixed;
  width: 800px;
  height: auto;
  border: 1px solid #ccc;
  z-index: 6;
  top: 20px;
  left: 20%;
  background: white;
  padding: 40px;
  box-sizing: border-box;
}
#wart .propopup h3{
  
  padding-bottom: 20px;
}
#wart .propopup h3:after{
  content: "";
  border: 1px solid #ccc;
  display: block;
  margin-top: 15px;
}

#wart .propopup iframe{
  
}
#wart .propopup span{
  
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
#wart .propopup span .close{
  /*! margin-top: 40px; */
  /*! transform: translateX(670px); */
  border: none;
  background: none;
  background-color: #169abd;
  color: white;
  width: 60px;
  height: 40px;
}
.timelinegallery figure {
  
}
.timelinegallery figure img {
  
}
.timelinegallery figure figcaption {
  display: none;
}
.timelinegallery figure figcaption span {
  
}
.popupimg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display:flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 6;
}
.popupimg img{
 width: 390px;
  height: 400px;
}
.popupimg figure figcaption{
  position: absolute;
  top: calc(50% - -162px);
  left: 30%;
  background-color: white;
  width: 40%;
  height: auto;
  color: #00a0c6;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
}

.popupimg .close{
  position: absolute;
  right: calc(50% - (390px / 2));
  top: calc(50% - (400px / 2) - 40px);
  font-size: 0;
  background-image: url(../img/close.jpg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}