body{
  font-family: 'Noto Sans KR', sans-serif;
}

.margin30{
 margin-top:30px; 
 margin-bottom:30px; 
}
.padding30{
 padding-top:30px; 
 padding-bottom:30px; 
 transition: all 0.5s;
}
.padding100{
 padding-top:100px; 
 padding-bottom:100px;  
 padding-top: 60px;
}
.wrap{
  max-width: 1100px;
  margin: 0 auto;
}
.block{
  display: block;
}
.textcenter{
  text-align: center;
}
.h1{
  font-size: 50px;
  transition: all 0.5s;
}
.h2{
  font-size: 40px;
}
.h3{
  font-size: 23px;
}
.h4{
  font-size: 20px;
}
.p{
  font-size: 14px;
}
.bold{
  font-weight: bold;
}
.blue{
  color:#00a0c6;
}
.ccc{
  color:#555;
}
.bordertop{
  border-top: 3px solid #33b6ea !important;
}
.hide{
  display: none;
}
.flex{
  display: flex;
}
img{
  width: 100%;
}
.breadcrumb{
  background-color: #0a92bdaa;
  margin-top: -50px;
  position: relative;
}
.breadcrumb ol li{
  text-align: center;
}
.breadcrumb ol li:first-child{
  width: 50px;
  background-color: #097fa4;
}
.breadcrumb ol li:not(:nth-child(1)){
  width: 180px;
  line-height: 50px;
  border-right: 1px solid #eee5;
  color:#fff;
}
.breadcrumb ol li a{
  display: block;
  line-height: 50px;
  color: #eee;
}
.breadcrumb ol li:first-child a{
  font-size: 0;
  width: 50px;
  background-image: url(../img/home.svg);
  background-size: 64%;
  background-repeat: no-repeat;
  background-position: center;
}
.opacity30{
  opacity: 0.3;
}
.navtab{
  background-color: #eee;
  border: 1px solid #bbb;
}
.navtab li:not(:first-child){
  border-left: 1px solid #bbb;
}
.navtab li a{
  display: block;
  text-align: center;
  line-height: 3;
}
.current{
  background-color: white;
  border: 1px solid blue;
  border-bottom-color: white;
  border-top-width: 2px;
  transform: scale(1.02);
}
.current a{
  color:#00a0c6;
}
main section .wrap ul.nav {
  column-gap: 40px;
  /*! gap: 40px; */
  margin-bottom: 30px;
}
main section .wrap ul.nav li {
  width: calc(100% / 3);
}
main section .wrap ul.nav li:nth-child(1)::before{
  content:"01";
}
main section .wrap ul.nav li:nth-child(2)::before{
  content:"02";
}
main section .wrap ul.nav li:nth-child(3)::before{
  content:"03";
}
main section .wrap ul.nav li a {
  display: block;
  line-height: 3;
  border-top: 2px solid #999;
  margin-top: 25px;
}
main section .wrap ul.nav li:nth-child(1) a{
  border-top-color:  #ccc;
}
.play{
  background-image:url(../img/start.png);
}
.stop{
  background-image:url(../img/stop.png);
}
.show{
  display: block !important;
}