.padding30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.wrap{
    width: 1100px;
    margin: 0 auto;
}
.hide{
    display: none;
}
.block{
    display: block;
}
.textcenter{
    text-align: center;
}
.h2{
    font-size: 40px;
}
.h3{
    font-size: 22px;
}
.h4{
    fornt-size:18px;
}
.p{
    font-size: 14px;
}
.ccc{
    color: #ccc;
}
.flex{
    display: flex;
    
}