#subtitle .wrap button{
  
  width: 180px;
}
main section .wrap ul.nav li:nth-child(3)::before{
  color: #00a0c6;
}
main section .wrap ul.nav li:nth-child(3) a{
  border-top-color:  #00a0c6;
}
section .bigbox{
  /*! padding: 0 14px; */
  /*! margin-top: 80px; */
}
section .bigbox .photo{
  padding: 0 20px;
}
section .bigbox .photo ul.h5{

  flex-wrap: wrap;
  column-gap: calc(150px / 4);
  row-gap: 20px;
}
section .bigbox .photo ul.h5 li{

  text-align: center;
  width: calc((100% - 150px) / 5);
  border-top: 3px solid #1297bb;
}
section .bigbox .photo ul.h5 li p{

  height: 50px;
  padding-top: 15px;
  padding-right: 10px;
  border-left: 1px solid #e9e9e9;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
section .bigbox .photo ul.h5 li figure{

}
section .bigbox .photo ul.h5 li figure img{

}
section .bigbox .photo ul.h5 li button{
  
  border: 1px solid #00a0c6;
  background: none;
  color: #00a0c6;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin: 30px 0;
}