#subtitle .wrap button{
  
  width: 180px;
}
main section .wrap ul.nav li:nth-child(3)::before{
  color: #00a0c6;
}
main section .wrap ul.nav li:nth-child(3) a{
  border-top-color:  #00a0c6;
}
section .bigbox{
  /*! padding: 0 14px; */
  /*! margin-top: 80px; */
}
section .bigbox .photo{
  padding: 0 20px;
}
section .bigbox .photo ul.h5{

  flex-wrap: wrap;
  column-gap: calc(150px / 4);
  row-gap: 20px;
  position: relative;
}
section .bigbox .photo ul.h5 li{

  text-align: center;
  width: calc((100% - 150px) / 5);
  border-top: 3px solid #1297bb;
}
section .bigbox .photo ul.h5 li p{

  height: 50px;
  padding-top: 15px;
  padding-right: 10px;
  border-left: 1px solid #e9e9e9;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
section .bigbox .photo ul.h5 li figure{

}
section .bigbox .photo ul.h5 li figure img{

}
section .bigbox .photo ul.h5 li button{
  
  border: none;
  /*! background: none; */
  /*! color: #00a0c6; */
  width: 100px;
  height: 31px;
  font-size: 0;
  margin-bottom: 30px;
  background-image: url(../img/downlode.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
.wfigure{
  
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
}
.wfigure figure{
  
}
.wfigure figure img{
  width: 390px;
  height: 400px;
}
.wfigure .close{
  
  position: absolute;
  font-size: 0;
  background-image: url(../img/close.jpg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  right: calc(50% - (390px / 2));
  top: calc(50% - (400px / 2) - 40px);
}