#governace{

}
/* 페이지 주소 */
#governace {
  
}
#governace nav{
}
#governace nav ol{
  
 
}
#governace nav ol li{
  
}
#governace nav ol li:first-child{

}
#governace nav ol li:nth-child(n+2){
  
}
#governace nav ol li:last-child{
  
}
#governace nav ol li a{
  
  
}
#governace nav ol li:first-child a{
}

#governace section{

}
#governace section div h3+div{/* 형제선택자 h3바로뒤에 오는 div */
  padding: 20px;
  padding-bottom: 40px;
  width: 1100px;
  box-sizing: border-box;
  border: 1px solid gray
}
#governace section h3.h3{
  margin-top: 50px;
margin-bottom: 29px;
color: #00a0c6;
}

#governace section div p{
line-height: 1.4;
  margin-bottom: 16px;
}

#governace p a{

}

#governace section div ul{

  background-color: #eee;
  border: 1px solid #bbb;
}
#governace section div ul li{

  width: calc(100% / 6);
}
#governace section div ul li:not(:first-child){/* :not(:first-child)첫번째것만 빼고 두번째부터 효과가 들어간다. */
  
  border-left: 1px solid #bbb;
}

#governace section div ul li:first-child a{
 
}
#governace section div ul li a{
   display: block;
  text-align: center;
  line-height: 3;
}
#governace section div ul li h3{
margin-bottom: 20px;
}
#governace section div ul li p{
  
}
.current{ /* common말고 여기 css에 작성하여 마크업에 클래스를 붙여준다. */
  background-color: white;
  border: 1px solid blue;
  border-bottom-color: white;
  border-top-width: 2px;
  transform: scale(1.03);
}









