.h1{
    font-size: 30px;
}
.h2{
    font-size: 20px;
}
.h3{
    font-size: 18px;
}
.h4{
    font-size: 14px;
}
.flex{
    display: flex;
}
.wrap{
    width: 1100px;
    margin: 0 auto;
}

.block{
    display: block;
}
.p{
    font-size: 14px;
}
.bold{
    font-weight: bold;
}
img{
    width: 100%;
}
.hide{
    display: none;
}
.padding30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.blue{
    color:#2e7af6;
}